*{
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hideScroll{
  overflow: hidden;
}
.flexer{
  overflow-y: hidden;
  position: relative;
  margin-bottom: 6vw;
}
a {
  color: white;
}

/* START OF START PAGE */
.startButtons {
  padding-top: 5vw;
  padding-bottom: 5vw;
  text-align: center;
}
.transLOGO{
  position:fixed;
  padding:2rem;
  width: clamp(314px,70%,4000px);
}
@media (min-width:400px) {
  .transLOGO
  {width:clamp(314px,90%,4000px);}  
}
@media (min-width:800px) {
  .startButtons
  {width:clamp(314px,90%,4000px);}  
}
.APLogo{
  opacity: 0;
  transition: 1.5s ease-in ;
}
.APLogo:hover{
  opacity: 1;
  transition: 0.5s ease-out ;
}
/* END OF START PAGE */

/* START OF HOME PAGE */
.TransLogo{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 1rem;
  padding-bottom:1rem;
}
.BGimg{
  position:absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
.imgSpace{
  align-items: center;
  justify-content: space-around;
  display: flex;
}
.startBtn{
  /* font-size: clamp(0.5rem, 1rem+10vw, 5rem); */
  font-size: clamp(5vh, 8rem, 15vw)
}
.lead{
  padding-top: 2vw;
  position: relative;
  text-align: center;
  color:rgb(255, 231, 231);
  font-family: source-code-pro;
  font-style: italic;
  font-size: clamp(1.2rem, 6vw - 2rem, 8rem);
}
.sub{
  position: relative;
  text-align: center;
  color: rgb(255, 232, 232);
  font-family: source-code-pro;
  font-size: clamp(1rem, 5vw - 2rem, 6rem);
}
.Txt{
overflow:hidden;
 min-height: clamp(30vh,33vh,35vh);
 width: 100%;
}
  /* Start of phone screen css */
  /* @media (max-width: 480px) {
  .BGimg{
    width: 100%;
    max-height: 30%;
  }
  } */
  /* End of phone screen css */
  
/* END OF HOME PAGE */