body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.startButtons {
  padding-top: 5vw;
  padding-bottom: 5vw;
  text-align: center;
}

.APLogo{
  opacity: 0;
  transition: 0.5s ease-out ;
}
.APLogo:hover{
  opacity: 1;
  transition: 0.5s ease-out ;
}