*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.APLOGO:hover{
  background: url("https://i3.lensdump.com/i/tp3Lm7.png") no-repeat
}

.md-button {    
  text-transform: lowercase !important;
  font-size : 1.5rem !important;
}

.quoteBox{
  border-width: 2rem !important;
  border-color: aliceblue;
  width : 100%;
  height : 100%;
  background-color : #252525;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 2rem;
}